<%- include("template/cabecera", {tituloweb: 'Crear nuevo registro'}) %>
    <div class="container border border-secondary rounded shadow p-4 my-5 bg-white w-50">
        <h2><%= tituloCrear %></h2>
        <form action="/usuario" method="post">
            <input type="text" placeholder="Agregar tarea" class="form-control my-2" name="tarea">
            <input type="text" placeholder="Agregar area" class="form-control my-2" name="area">
            <input type="text" placeholder="Agregar descripcion" class="form-control my-2" name="descripcion">
            <input type="text" placeholder="Agregar estado" class="form-control my-2" name="estado">
            <button class="btn btn-success my-2">Agregar</button>
        </form>
    </div>


<%- include("template/footer") %>