<!-- UTILIZAMOS "include" PARA INCLUIR LA CABECERA DE LA PAGINA -->
<%- include("template/cabecera", {tituloweb: 'Pagina de inicio'}) %>


    <h1 class="text-success text-center">Titulo del sitio web pagina principal</h1>
    <h2 class="text-danger text-center"><%= titulo %></h2>
<!-- INCLUIMOS EL FOOTER POR MEDIO DE "include"  -->
<%- include("template/footer") %>