<!-- CABECERA PARA TODAS LAS VISTAS  -->
<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/css/bootstrap.min.css">
    <link rel="stylesheet" href="/style.css">
    <title>EJS- <%= tituloweb %></title>
</head>
<body class="body">
    <!-- INCLUIMOS LA BARRA DE NAVEGACION POR MEDIO DE "include" Y TODOS LOS ARCHIVOS QUE INCLUYAN LA CABECERA TAMBIEN SE LES INCLUIRA LA BARRA DE NAVEGACION -->
    <%- include('navbar') %>